@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body{
 background: #fff;
  position:relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

.navbar-brand{
  margin-top
  padding:5px;
  padding-left : 20px;
  height:50px;
  position : relative;

}

.dark-bg {
  background: fixed url('https://www.toptal.com/designers/subtlepatterns/patterns/blackmamba.png' );
}
.navbar-inverse .navbar-nav>li>a{
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color:#337AB7;
}
.btn.btn-default.btn-lg:hover {
  color:#337AB7;
}
.navbar-inverse .navbar-brand {
    color:#fff !important;
}
.navbar-inverse .navbar-brand:hover {
    color:#337AB7 !important;
}
.shadow{
  box-shadow: 7px 7px 7px #666;
  position : relative;
 transition : all 0.2s;
 top : 0;
 padding:0px;
 height:230px;
}

.about{
  background: grey;
}
.cust-caption{
  display:none;
  position: absolute;
  background-color: rgba(30,30,30,0.8);
  padding : 10px;
  color:#ddd;
  margin:5px;
  bottom:0;
  left:0;
  right:0;
  height : 60%;
  margin:5px;
  overflow-y : auto;
}

.color-hover:hover{
	color : #337AB7;
}
.up-hover:hover {
  top :-5px;
  box-shadow: 15px 15px 15px #777;
}
.head{
  color : white;
}
.heading{
text-align : center;
padding-top: 100px;
}

.avatar{
 display: block;
	position:relative;
	width : 200px;
	margin:auto;
}

.showcase{
	text-align:center;
	padding-top:60px;
}

.showcase h1{
font-size : 8em;
}

.links{
	padding:30px 0;
}

.main-nav{

  font-size : 1.2em;
  position : relative;

}

.main-nav h1{
	padding-bottom:20px;
}

ul.links i {
  font-size: 25px;
}
.aboutcontent{
  padding-top: 15px;
  border-radius: 5px;
  background-color: #f2f2f2;
}
